<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include content.html content=content %}
    </main>
    {% include footer.html %}
    
    <section>
      <h2>Recent iNaturalist Observations</h2>
      <div id="inat-widget"></div>
      
      <!-- iNaturalist widget script -->
      <script src="https://www.inaturalist.org/observations/widget.js?user=benstemon&num=5&order_by=observed_on&order=desc"></script>
      <noscript>
        <p><a href="https://www.inaturalist.org/observations?user_id=benstemon">View observations on iNaturalist</a></p>
      </noscript>
    </section>
  </body>
</html>
